body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  

}

/* Animación de entrada */
.como_jugar {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.padre {
  display: grid;
  grid-template-areas:
    "barra barra"
    "seccion_principal seccion_principal"
    "como_jugar como_jugar"
    "footer footer";
  margin: 0%;
  padding: 0%;
  height: 100vh;
  font-family: monospace;
 
 

}
.barra {
  grid-area: barra;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  max-width: 100%;
}
.barra img {
  width: 150px;
  height: auto;
  object-fit: contain;
}
.barra:hover .menu {
  display: block; 
}
.menu {
  display: none;
  grid-area: menu;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.barra i {
  display: flex;

  font-size: 2rem;
  color: white;
  margin-right: 5%;
}

.barra h1 {
  font-size: 2rem;
  color: white;
  margin-left: 5%;
}

.seccion_principal {
  grid-area: seccion_principal;
  background-color: white;
  
  
  
}

.como_jugar{
    grid-area: historia;
    background-color: white;
    padding: 10px;
    
    font-family: monospace;

}


.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.footer i {
  color: white;
}

button {
  border-radius: 5px !important;
  padding: 5px;
  background-color: black;
  color: white;
}

/* Versión Desktop */
@media (min-width: 576px) {
  .padre {
    grid-template-areas:
      "barra seccion_principal"
      "barra seccion_principal"
      "barra como_jugar"
      "footer footer";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;

    height: 100vh;
  }

  .barra {
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    grid-area: barra;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0%;
    margin: 0%;
    grid-area: menu;
  }

  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: monospace;
  }

  .barra i {
    display: none;
  }

  .barra a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }

  .barra h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seccion_principal {
    grid-area: seccion_principal;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }

  .como_jugar{
    grid-area: historia;
    background-color: white;
    padding: 5% 5% 5% 5%; 
    font-family: monospace;
    width: 100%;
   
  }


  .footer{
    grid-area:footer ;
    gap: 30px;
      color: white;
    }

    footer p:hover {
      transform: scale(1.1);
      color: #fff;
    }
}
